# Node modules
node_modules

# Build artifacts
dist/
build/
out/

# Log files
*.log

# Environment variables
.env
.env.*.local

# Temporary files
tmp/
*.tmp

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db